/* cyrillic */
@font-face {
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/russoone/v9/Z9XUDmZRWg6M1LvRYsHOy8mJrrg.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/russoone/v9/Z9XUDmZRWg6M1LvRYsHOwcmJrrg.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/russoone/v9/Z9XUDmZRWg6M1LvRYsHOz8mJ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* cyrillic-ext */
  @font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/robotomono/v13/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_SeW4Ep0.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/robotomono/v13/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_QOW4Ep0.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek */
  @font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/robotomono/v13/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_R-W4Ep0.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/robotomono/v13/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_S-W4Ep0.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/robotomono/v13/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_SuW4Ep0.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/robotomono/v13/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_ROW4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
#footer {
	margin: 0;
	padding: 0;
	width: auto;
}
#footer .connect {
	background-color: #5D5C67;
	margin: 0;
	min-height: 84px;
	overflow: hidden;
	padding: 0;
	width: auto;
}
#footer .connect div {
	margin: 0 auto;
	max-width: 960px;
	overflow: hidden;
	padding: 24px 0 0;
}
#footer .connect div h1 {
	color: #FFFFFF;
	float: none;
	font-family: Russo One;
	font-size: 23px;
	font-weight: normal;
	line-height: 23px;
	margin: 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}
#footer .connect div div {
	float: none;
	text-align: center;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 100%;
}
#footer .footnote {
	background-color: #FDF701;
	margin: 0;
	min-height: 50px;
	overflow: hidden;
	padding: 0;
	width: auto;
}
#footer .footnote div {
	margin: 0 auto;
	overflow: hidden;
	padding: 20px 0 0;
	width: 100vw;
}
#footer .footnote div p {
	color: #000000;
	display: block;
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	width: 100vw;

}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 0;
}

/* .fa:hover {
  color:  rgb(235, 235, 235);
  opacity: 0.7;
} */

.fa-facebook {
  color:  rgb(235, 235, 235);

}

.fa-twitter {
  color:  rgb(235, 235, 235);
}

.fa-linkedin {
  color:  rgb(235, 235, 235);
}

.fa-youtube {
  color:  rgb(235, 235, 235);
}

.fa-instagram {
  color:  rgb(235, 235, 235);
}
.fa-whatsapp {
  color:  rgb(235, 235, 235);
}
/* .fa-pinterest {
  color: color:  rgb(235, 235, 235);;
} */

.fa-facebook:hover {
  color:  #3B5998;

}

.fa-twitter:hover {
  color:  #00ACEE;
}

.fa-linkedin:hover {
  color: #0E76A8;
}

.fa-youtube:hover {
  color:  #E62117;
}
.fa-whatsapp:hover {
  color:  #25D366;
}

.fa-instagram:hover {
  color:  #DD2A7B;
}

.float{
	position:fixed;
  opacity: 50%;
	width:50px;
	height:50px;
	bottom:20px;
	right:20px;
	background-color: #25d366;

	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.404);
  z-index: 1;
}
.float:hover{
  opacity:100%;
	background-color: #ffffff;
}

.my-float{
	margin-top: -10px;
  	margin-left: -17px;
}
.con{
  margin-left: 20%;
  padding: 5%;
  background-color: #3535F4;
  font-family: Russo One;
  font-weight: lighter;
}
.con div form {
	display: block;
	margin: 0 auto;
	padding: 0;
	width: 461px;
}
.con div form input {
	background-color:#3535F4;
	border: medium;
  	border-width: thin;
	color: white;
	display: block;
	font-size: 18px;
	height: 43px;
	line-height: 43px;
	margin: 0 0 29px;
	padding: 0 0 0 20px;
	text-align: left;
	text-transform: uppercase;
	width: 30.88vw;
}
.con div form textarea {
	background-color: #3535F4;
	color: white;
	border: medium;
	display: block;
	font-family: Roboto Mono;
	font-size: 18px;
	height: 98px;
	line-height: 24px;
	margin: 0 0 31px;
	overflow: auto;
	padding: 15px 0 0 20px;
	resize: none;
	text-align: left;
	text-transform: uppercase;
	width: 30.88vw;
}
.con div form input#submit {
	background-color: #FFE24A;
	color: black;
	cursor: pointer;
	display: block;
	float: right;
	font-size: 14px;
	height: 31px;
	line-height: 31px;
	margin: 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	width: 120px;
}
.con div form input#submit:hover {
	background-color: white;
}
