@media screen and (max-width: 800px){
.header1 div span#mobile-navigation {
    background: transparent url(../images/mobile/mobile-menu.png) no-repeat;
    display: block;
    height: 30px;
    margin: 1% 0 0 0;
    padding: 0 0 0 0;
    position: fixed;
    right: 8%;
    top: 10px;
    width: 30px;
    z-index: 1;
}
.header1 div > ul#navigation {
    background-image: none;
    background: rgba(235, 235, 235, 0.973);
    /* border: 1px solid #f1f2f2; */
    border-radius: 0;
    display: none;
    float: right;
    height: auto;
    padding: 0;
    position: absolute;
    right: 1%;
    top: 64px;
    width: 50%;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.404);
    border-radius:10px;
    z-index: 1;
}
.header1 div > ul#navigation > li {
    border-left: 0;
    border-top: 1px;
    margin: 0;
    height: auto;
    padding: 0;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 1;
}
.header1 div > ul#navigation > li:first-child {
    border-top: 0;
}
.header1 div > ul#navigation > li:hover {
    background-color: black;
}
.header1 div ul#navigation li a {
    border: none;
    color: black;
    /* display: block; */
    font-family: Arial;
    font-size: 1.125em;
    font-weight: normal;
    height: 3em;
    line-height: 3.125em;
    min-height: 54px;
    padding: 0 10px;
    text-align: right;
    text-decoration: none;
    text-shadow: none;
    width: auto;
}
.header1 div ul#navigation li ul {
    background: none;
    border-top: 1px solid #f1f2f2;
    padding: 0;
    position: static;
    right: 0;
    text-align: center;
    width: 100%;
    z-index: 999;
}
.header1 div ul#navigation li ul, .header div ul#navigation li:hover ul {
    display: none;
}
#header1 div ul#navigation li {
    height: auto;
    width: 100%;
    z-index: 40;
    text-align: center;
}

.header1 div ul#navigation li ul li:first-child {
    border: none;
}
.header1 div ul#navigation li:hover a, .header1 div ul#navigation li.selected a, .header1 div ul#navigation li:hover ul li a, .header1 div ul#navigation li:hover ul li a:hover, .header1 div ul#navigation li ul li.selected a {
    display: block;
}
.header1 div ul#navigation li.selected > a {
    background: rgba(0, 0, 0, 0.91);
    color: #eeeced;
    border-radius: 10px;
    text-decoration: none;
}
.header1 div ul li.selected a, .header1 div ul li.selected a:hover, .header1 div ul li.menu ul#selected li.selected a {
    color: #fffb00;
    text-decoration: none;
}
}