/* cyrillic */
@font-face {
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/russoone/v9/Z9XUDmZRWg6M1LvRYsHOy8mJrrg.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/russoone/v9/Z9XUDmZRWg6M1LvRYsHOwcmJrrg.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/russoone/v9/Z9XUDmZRWg6M1LvRYsHOz8mJ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* cyrillic-ext */
  @font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/robotomono/v13/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_SeW4Ep0.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/robotomono/v13/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_QOW4Ep0.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek */
  @font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/robotomono/v13/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_R-W4Ep0.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/robotomono/v13/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_S-W4Ep0.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/robotomono/v13/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_SuW4Ep0.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/robotomono/v13/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_ROW4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
body{
    background-color: #272634;
    overflow-x: clip;
    margin: 0%;
    width: 100%;
}
a{
    text-decoration: none;
    outline: none;
}
a:active {
	background: none;
}
img {
	border: none;
}

.header1 .header img {
    float: left;
    width: 80px;
    padding: 10px;
    z-index: 1;
  }
.header1{
    position: absolute;
    display: block;
}
.header1 div {
    position: fixed;
    width: fit-content;
    height: 100vh;
    left: 0px;
    top: 0px;
    background: #FDF401;
    z-index: 1;
}
.header1 div a img {
    margin: 0;
    padding: 0;
    height: 30px;
    width: 30px;
    z-index: 1;
}
.header1 div ul {
    list-style: none;
    text-decoration: none;
    margin: 0%;
    float: right;
    outline: none;
    padding: 0%;
    height: 0;
    width: 0;
    z-index: 1;
}
.header1 div ul li {
    padding: 10px;
    position: relative;
    width: 48px;
    font-family: Russo One;
    height: 20px;
    margin: 1%;
    margin-bottom: 50px;
    top: 224px;
    padding: 20px 20px 20px 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    color: #000000;
    transform: rotate(-90deg);
    z-index: 1;
}
.main1 {
    height: 100vh;
    width: 100%;
}
.main1 div {
    position: relative;
    width: 824px;
    height: 558px;
}
.main1 div{
    width: fit-content;
    height: 100vh;
}
.main1 div h1 {
    position: absolute;
    width: 50px;
    height: 252px;
    left: 251px;
    top: 0px;
    font-family: Russo One;
    font-style: normal;
    font-weight: normal;
    font-size: 95px;
    line-height: 114px;
    color: #FFFFFF;
    
}
.main1 div h2 {
    position: absolute;

    height: 148px;
    left: 251px;
    top: 340px;
    font-family: Russo One;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 45px;
    color: #FFFFFF;
}
.main1 div h3 {
    position: absolute;
    width: 21vw;
    height: 50px;
    left: 251px;
    top: 530px;
    color: #FFFFFF;
    background: linear-gradient(0deg, #5D5C67, #5D5C67);
    text-align: right;
}
.main1 div h3 span{
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 45px;
    margin: 30px;
}
.main1 .lap{
    position: absolute;
    left: 70vw;
    top: 70px;
}
.main1 .lap img {
    width: 30vw;
}
.main1 .ps {
    position: absolute;
    left: 623vw;
    top: 60px;
}
.main1 .pp {
    position: absolute;
    left: 66vw;
    top: 130px;
}
.main1 .id {
    position: absolute;
    left: 87.5vw;
    top: 200px;
}
.main1 .ai {
    position: absolute;
    left: 63vw;
    top: 330px;
}
.main1 .ae {
    position: absolute;
    left: 78vw;
    top: 410px;
}
.main1 .lr {
    position: absolute;
    left: 84vw;
    top: 460px;
}
.main1 .xd {
    position: absolute;
    left: 77vw;
    top: 260px;
}
.main2 {
    height:fit-content;
    width: 100vw;
    margin: 0;
    padding: 0%;
    display: block;

}
.main2 .about_main {
    height: fit-content;
    width: 200px;
    float: right;
    background: linear-gradient(0deg, #5D5C67, #5D5C67);
    margin: 0%;
    padding: 1%;
    text-align: left;
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;

color: #FFFFFF;
}
.main2 .rec1 {
    height: 400px;
    width: 56vw;
    background-color: #ED3A5B;
}
.main2 .rec1 .about {
    position: absolute;
    width: 515px;
    left: 153px;
    font-family: Russo One;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    color: #E5E5E5;
}
.main2 .rec1 .about1{
    display:block;
    position: absolute;
    width: 35vw;
    left: 153px;
    margin-top: 120px;
    text-align: justify;
    font-family: Russo One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 34px;
    color: #E5E5E5;
}
.main2 .rec1 .about2{
    display: none;
}
.main3 {
    height:fit-content;
    width: 100%;
    margin-top: 10%;
    padding: 0%;
    display: block;
}
.main3 .border{
    float: right;
    width: 50px;
    margin: 0;
    padding: 0%;
    height: 40vh;
    background: #EB762B;
 }
.main3 .row{
    float: right;
    width: 60vw;
    margin-bottom: 10%;
    padding: 0%;
}
.main3 .row .column {
    float: left;
    padding: 0;
    margin-top: 1%;
    text-align: center;
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
}
.main3 .team {
    width: 28vw;
    margin:0;
    float: left;
    height: fit-content;
    background: linear-gradient(0deg, #5D5C67, #5D5C67);
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    padding: 20px;
    text-align: right;
    color: #FFFFFF;

}
.main4{
    height:fit-content;
    width: 100%;
    padding: 0%;
    display: inline-block;
}
.main4 .poster {
    float: right;
    background-color:#67B27B;;
    width: 65%;
    padding: 10px 10px 10px 10px;
    margin-right: 2%;
    height: fit-content;
}
.main4 .work{
    position: absolute;
    width: 17.50vw;
    float: left;
    margin-top: 10%;
    margin-left: 20%;
    height: fit-content;
    background: linear-gradient(0deg, #5D5C67, #5D5C67);
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 32px;
    padding: 1.4vw 2.8vw 1.4vw 1.4vw;
    text-align: right;
    color: #FFFFFF;
}
.main5{
    height:fit-content;
    width: 100%;
    padding: 0%;
    margin-top: 10%;
    margin-bottom: 10%;
    display: inline-block;
}